
@keyframes twinkle {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  pointer-events: none;
  background: #000;
}

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation-name: twinkle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
